### Project build ###
target/
build/
.gradle

### Caches & logs ###
.DS_Store
**/logs/
**/log/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

# Ignore Gradle build output directory
build
